<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @wanderungen.description %>
</p>

<%= link_to 'Edit', edit_wanderungen_path(@wanderungen) %> |
<%= link_to 'Back', wanderungens_path %>
