<div class="jumbotron">
	<h1>Finde deine Wanderung</h1>
	<div class="dropdown">
  		<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
    		Schwierigkeitsgrad
    		<span class="caret"></span>
  		</button>
	  	<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
	    	<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Wandern</a></li>
	    	<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Bergwandern</a></li>
	    	<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Anspruchsvolles Bergwandern</a></li>
	    	<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Alpinwandern</a></li>
	    	<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Anspruchsvolles Alpinwandern</a></li>
	    	<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Schwieriges Alpinwandern</a></li>
	  	</ul>
	<button type="button" class="btn btn-primary">Los geht's!</button>
	</div>
</div>
