<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @schwierigkeitsgrad.description %>
</p>

<%= link_to 'Edit', edit_schwierigkeitsgrad_path(@schwierigkeitsgrad) %> |
<%= link_to 'Back', schwierigkeitsgrads_path %>
